* {
    margin: 0;
    padding: 0;
    
}

.da-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: 
        "content picture";
    align-items: stretch;
}

.free2 {
    text-align: center;
    padding: 7px;
    color: white;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 10%;
    margin-right: 1%;
}

.content {
    grid-area: content;
    margin-top: 15vh;
    margin-left: 15%;
}

.picture2 {
    width: 100%;
    height: auto;
}

.small-p {
    font-size: small;
    color: gray;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 5px;
    font-size: 75px;
}

h4 {
    font-size: 35px;
}

.double {
    color: gray;
    
}

.chat {
    text-align: center;
    padding: 7px;
    color: blue;
    background-color: white;
    border: 1px solid blue;
    border-radius: 10%;
}

.chat2 {
    height: 15px;
}

.undertext {
    display: flex;
    justify-content: start;
    align-items: end;
    font-size: smaller;
    width: 100%;
}

.dot {
    height: auto;
    /* background-color: blue; */
    color: blue;
    /* border: 1px solid black; */
    width: 9px;
    margin-left: 13px;
    margin-right: 13px;
}

.dot-text {
    color: black;
}

/* .dot-text:hover {
    background-color: rgba(0, 0, 255, 0.589);       Commenting out to show original thought process, didn't like it
    color: white;
} */

hr {
    width: 50%;
    /* height: 1px; */
    margin-left: 25%;
    /* background-color: black; */
}

.da-container2 {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 2fr;
    gap: 0px 0px;
    grid-template-areas: 
        "whitespace1 text text text text whitespace2"
        "whitespace1 tile-images tile-images tile-images tile-images whitespace2"
        "whitespace1 credit-image credit-image credit-image credit-image whitespace2";
}

.whitespace1 {
    grid-area: whitespace1;
}

.whitespace2 {
    grid-area: whitespace2;
}

.credit-image {
    grid-area: credit-image;
    margin-top: 15vh;
}
.credit-image {
    grid-area: credit-image;
    margin-top: 15vh;
}

.tile-images {
    grid-area: tile-images;
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
}

.text {
    grid-area: text;
}

.tiles {
    overflow: hidden;
    height: 8vh;
    width: 55px;
    margin: 15px;
    padding: 35px;
    border: 1px solid black;
    border-radius: 15%;
}

.dollar-sign {
    background-color: rgb(0, 101, 253);
}

.tile-text {
    text-align: center;
}

.tile-text-top {
    margin: 3%;
}

.credit-container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-items: stretch;
    grid-template-areas: 
        "whitespace3 white1 white1 whitespace4"
        "whitespace3 credit-image credit-text whitespace4"
        "whitespace3 white2 white2 whitespace4";
}

.whitespace3 {
    grid-area: whitespace3;
}

.whitespace4 {
    grid-area: whitespace4;
}

.white1 {
    grid-area: white1;
}

.white2 {
    grid-area: white2;
}

.credit-image {
    grid-area: credit-image;
    /* margin-top: 15vh; */
    border: 1px solid black;
    width: 110%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.credit-text {
    grid-area: credit-text;
    border-top: 1px solid black;
    border-left: 2px solid black;
    background-color: rgb(0, 101, 253);
    height: 350px;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    color: white;
}

h3 {
    margin: 4%;
}
h5 {
    margin: 4%;
}

.learn-more {
    color: white;
    border: 2px solid white;
    border-radius: 10%;
    background-color: rgb(0, 101, 253);
    margin-left: 15%;
    width: 150px;
    height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    text-align: left;
    list-style-type: none;
    margin: 4%;
}
ul li:before {
    content: "-";
    margin-right: 10px;
    color: white;
}